@charset "UTF-8";

body {
    font-family: DejaVu Serif;
    font-size: 1em;
}
h1{
   background-color: yellow; 
   color: black;
}

#container {
    
}

.item1 {
    color: black;
    border-radius: 5% 10px;
    background: green;
    box-shadow: 0 5px 8px -1px rgba(0, 0, 0, .24);
}
.item2 {
    color: black;
    border-radius: 10% 20px;
    background: red;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, .24);
}
.item3 {
    color: black;
    border-radius: 5% 10px;
    background: white;
    box-shadow: 0 5px 8px -1px rgba(0, 0, 0, .24);
}
footer{
	color: white;
    background: black;
}
